@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter' , 'Sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
    --color1: #FFFFFF;
    --color2: #C1FFD1;
    --color3: #05BB78; /*17% de Opacidade*/
    --color4: #17D647;
    --color5: #025939;
}
